.grid-rowaction-edit {background-image:url(../Images/Icons/edit_16.png) !important;}
.grid-rowaction-note {background-image:url(../Images/Icons/note_add_16.png) !important;}
.grid-rowaction-document {background-image:url(../Images/Icons/page_add_16.png) !important;}
.grid-rowaction-campaigne {background-image:url(../Images/Icons/table_add_16.png) !important;}
.grid-rowaction-pdf {background-image:url(../Images/Icons/pdf_16.png) !important;}
.grid-rowaction-delete {background-image:url(../Images/Icons/delete_16.png) !important;}

.magnifier {background-image:url(../Images/Icons/magnifier_16.png) !important;}
.refresh {background-image:url(../Images/Icons/refresh_16.png) !important;}
.form {background-image:url(../Images/Icons/form_16.png) !important;}
.form_add {background-image:url(../Images/Icons/form_add_16.png) !important;}

.central_page_company_logo {background-image:url(../Images/company_logo_16.png) !important;}
.central_page_user {background-image:url(../Images/user_16.png) !important;}
.central_page_logout {background-image:url(../Images/logout_16.png) !important;}
.central_page_tool {background-image:url(../Images/tool_16.png) !important;}
.central_page_key {background-image:url(../Images/key_16.png) !important;}

.user {background-image:url(../Images/Icons/user_16.png) !important;}
.user_add {background-image:url(../Images/Icons/user_add_16.png) !important;}
.user_group {background-image:url(../Images/Icons/user_group_16.png) !important;}

.key {background-image:url(../Images/Icons/key_16.png) !important;}

.vcard {background-image:url(../Images/Icons/vcard_16.png) !important;}
.vcard_add {background-image:url(../Images/Icons/vcard_add_16.png) !important;}

.communication {background-image:url(../Images/Icons/comments_16.png) !important;}
.communication_add {background-image:url(../Images/Icons/comments_add_16.png) !important;}

.offer {background-image:url(../Images/Icons/page_16.png) !important;}
.offer_add {background-image:url(../Images/Icons/page_add_16.png) !important;}

.calendar {background-image:url(../Images/Icons/calendar_16.png) !important;}
.calendar_add {background-image:url(../Images/Icons/calendar_add_16.png) !important;}

.table {background-image:url(../Images/Icons/table_16.png) !important;}
.table_add {background-image:url(../Images/Icons/table_add_16.png) !important;}

.client {background-image:url(../Images/Icons/client_16.png) !important;}
.agency {background-image:url(../Images/Icons/agency_16.png) !important;}
.campaigne {background-image:url(../Images/Icons/campaigne_16.png) !important;}
.media_plan {background-image:url(../Images/Icons/media_plan_16.png) !important;}
.report {background-image:url(../Images/Icons/report_16.png) !important;}

.sporno {background-image:url(../Images/Icons/sporno_16.png) !important;}


.scheduler-delete {background-image: url(../Images/Icons/cancel_16.png) !important;}
.scheduler-move {background-image: url(../Images/Icons/edit_16.png) !important;}
.scheduler-add {background-image: url(../Images/Icons/add_16.png) !important;}


.sound {background-image: url(../Images/Icons/sound_16.png) !important;}

